@import '../../../../asset/scss/variables';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0;

    .content {
        width: 100%;

        .img-wrapper {
            padding: 0 8px;

            img {
                border-radius: 6px;
            }
        }
    }
}
