@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #fff200;
    --bold-primary-color: #ffa200;
    --white-color: #fff;
    --text-color: #333;

    // Default Layout vars
    --default-layout-width: 1280px;

    // Header
    --default-layout-header-height: 90px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    margin: 0;
}

// Custom css for Tippy
.tippy-box {
    border-radius: 10px;
}

.tippy-content {
    padding: 10px;
    font-weight: 600;
}
