@import '../../../../asset/scss/variables';

.wrapper {
    margin: 48px 0;

    .tab-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        background-color: #f8f8f8;
        border-radius: 8px;

        .tab {
            display: inline-block;
            padding: 20px 32px;
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #444;
            list-style-type: none;
            user-select: none;
            cursor: pointer;
            transition: color 0.15s linear;
            outline: none;

            &:hover {
                color: var(--bold-primary-color);
            }

            &.tab-selected {
                background-color: var(--primary-color);
                color: #000;
            }
        }
    }

    .tab-panel {
        display: block;
        margin-top: 32px;
    }

    .tab-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/* Mobile and Tablet */
@media (max-width: #{$tablet-max-width}) {
    .wrapper {
        .tab-list {
            .tab {
                font-size: 1.4rem;
            }
        }
    }
}
