@import '../../../../asset/scss/variables';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0;

    .content {
        width: 65%;
    }
}

/* Mobile and Tablet */
@media (max-width: #{$tablet-max-width}) {
    .wrapper {
        .content {
            width: 90%;
        }
    }
}
