@import '../../asset/scss/variables';

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: var(--default-layout-width);
    max-width: 100%;
    margin-top: var(--default-layout-header-height);
}

/* Mobile and Tablet */
@media (max-width: #{$tablet-max-width}) {
    .content {
        padding: 0 6px;
    }
}

/* Mobile */
@media (max-width: #{$mobile-max-width}) {
    .content {
        margin-top: var(--default-layout-mobile-header-height);
    }
}
