.wrapper {
    margin: 48px 0;

    .highlights {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: calc(100% - 36px);
            top: 40px;
            background-color: #f0f0f0;
            z-index: -1;
            border-radius: 8px;
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon-box {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--bold-primary-color);
            border-radius: 50%;
        }

        .icon {
            color: #fff;
        }

        .val {
            font-size: 2.8rem;
            font-weight: 600;
            margin-top: 12px;
            margin-bottom: 0;
        }

        .label {
            font-size: 1.6rem;
            font-weight: 600;
            color: #555;
            margin-top: 4px;
        }
    }
}
